@charset "utf-8";

#wrap {overflow:hidden; position:relative; width:100%; text-align:center;}
.title{font-size: 20px;margin-top: 10px;}
.btn_box{padding:10px;}
.sms{display: block;width: 100%; line-height: 50px; border:1px solid #000; margin-bottom: 10px; color:#000}