.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__top__container{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__top{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 21px 0;
}

.main__top__text{
    margin-top: 13px;
}

.main__top__text *{
    font-weight: bold;
}

.main__top__text > h1{
    font-size: 20px;
}

.main__top__text > p{
    font-size: 17px;
    margin: 10px 0 12px;
}

.top__text__box{
    font-size: 14px;
}

.top__text__box span:first-child{
    margin-right: 20px;
}

.main__top__btn{
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

.main__top__btn button{
    height: 42px;
}


/* 수강신청 버튼 */

.main__top__btn button:first-child{
    display: inline-block;
    background: linear-gradient( to right, #6fa7bb, #277397 );
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    font-size: 15px;
    color: #fff!important;
    width: 60%;
    line-height: 42px;
    border-radius: 12px;
    border: none;
}

/* 수강완료 버튼  */

.completion{
    display: inline-block;
    background: #777777;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    font-size: 15px;
    color: #fff!important;
    width: 60%;
    line-height: 42px;
    border-radius: 12px;
    border: none;
}

/* 화면단 숨김 표시는 여기 클래스를 사용해주세요. */

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

.main__top__btn button:last-child{
    width: 30%;
    border-radius: 7px;
    border: none;
    background-color: #333333;
    color: #c9c9c9;
}

/* 덧글 부분 */

.comment{
    padding-top: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.comment__box:not(:first-child){
    padding-top: 20px;
}

.comment__box__text{
    color: #aeaeae;
    font-size: 12px;
    margin-top: 12px;
}

.comment__box > h1{
    margin-bottom: 12px;
    font-weight: 500;
}

.comment__box > *{
    font-size: 14px;
}